input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 2px;
    text-align: right;
}

input:hover {
    background-color: #eee;
}

input.view:focus {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    border: 2px solid #39c;
    text-align:right;
}
input.edit:focus  {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #999;
    text-align: left;
}
/*input:not(:focus) {
    /!*padding: 0;*!/
    text-align: right;
}*/

table {
    border-collapse: collapse;
}

td {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 0;
}

tr:first-child td, td:first-child {
    background-color: #ccc;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}


.brd-input {
    border: 1px solid black;
    padding: 1px;
}

/*
#header {
    position: fixed;
    top:0
    border: 1px solid #333;
}
*/


